* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-weight: 1.5;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background-color: rgb(253, 249, 249);
}

.main-content {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}
.container {
  padding-top: 8rem;
}

img {
  width: 150px;
  height: 150px;
}

.search-meal-result {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
  place-items: center;
}

.search-form {
  padding-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.meals {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}
.meals img {
  object-fit: cover;
}

.not-find {
  text-align: center;
  color: rgb(211, 97, 4);
  font-size: 1.5rem;
  grid-template-columns: 1fr !important;
}

#search-input {
  padding: 10px;
  border: none;
  background-color: rgb(216, 84, 8);
  color: white;
}
#search-input::placeholder {
  color: white;
}

.searchBtn {
  padding: 10px;
  border: none;
  background-color: purple;
  color: white;
}
